body{
    background-color: floralwhite;
}
.title{
    color: crimson;
}

.subtitle{
    color: darkblue;
}

h2:hover {
    color: rgb(241, 12, 12);
}

li:last-child{
    color: cornflowerblue;
}

.tab1,th,td{
    border: 1px solid black; 
}

#google-link:link{
    color: black;
}
#google-link:visited{
   color:blue;
}

.espn{
    position: relative;
    left: 500px;
}
